
/* Estilo dos links */
.category-links {
    margin-bottom: 20px;
}

.category-links h2 {
    font-size: 24px;
    color: #1e3c72;
    margin-bottom: 10px;
}

.links {
    list-style-type: none;
    padding: 0;
}

.link-container {
    border: 2px solid #2a5298;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(to right, #1e3c72, #5189eb);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.link-container:hover {
    transform: translateY(-5px);
}

.link-container .title {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffc107; /* Cor amarela para o título */
    font-size: 20px;
}

.link-container .details {
    margin-bottom: 10px;
}

.link-container .details span {
    color: #ffc107;
    margin-right: 10px;
}

.link-container .description {
    color: #f8f9fa; 
    margin-bottom: 10px;
}

.link-container .url {
    color: #ffc107;
    margin-bottom: 10px;
}

.link-container .buttons {
    display: flex;
    justify-content: flex-end;
}

.link-container .edit-button,
.link-container .delete-button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    text-transform: uppercase;
}

.link-container .edit-button {
    background: linear-gradient(to right, #ffc107, #ffca2b);
    color: #1e3c72;
}

.link-container .edit-button:hover {
    background: linear-gradient(to right, #ffca2b, #ffc107);
    transform: translateY(-2px);
}

.link-container .delete-button {
    background: linear-gradient(to right, #dc3545, #c82333);
    color: #fff;
}

.link-container .delete-button:hover {
    background: linear-gradient(to right, #c82333, #dc3545);
    transform: translateY(-2px);
}

#toggle-links-button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#toggle-links-button:hover {
    background: linear-gradient(to right, #528df5, #1e3c72);
    transform: translateY(-2px);
}




.link-title {
    color: #333; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.link-description {
    color: #666; 
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.4; 
}

.link-url {
    color: #3498DB; 
    font-size: 14px;
    margin-bottom: 8px;
}


.link-container .link-title,
.link-container .link-description,
.link-container .link-url {
    transition: color 0.3s ease-in-out;
}




.edit-button,
.delete-button {
    padding: 8px 16px;
    margin-left: 8px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none; 
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, color 0.3s;
}

.edit-button {
    background-image: linear-gradient(to right, #3b88a1, #00ced1); 
    color: #fff;
}

.edit-button:hover {
    background-image: linear-gradient(to right, #347677, #00bfff);
    transform: translateY(-2px);
}

.delete-button {
    background-image: linear-gradient(to right, #d44f38, #fc8888);
    color: #fff;
}

.delete-button:hover {
    background-image: linear-gradient(to right, #ad3636, #f58a77);
    transform: translateY(-2px);
}




.category-links {
    margin-bottom: 20px;
}

.category-links h2 {
    font-size: 24px;
    color: #1e3c72;
    margin-bottom: 10px;
}


.category-divider {
    height: 1px;
    background: linear-gradient(to right, #ffffff, #cccccc);
    margin: 20px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    transition: background 0.3s, box-shadow 0.3s; 
}

.category-divider:hover {
    background: linear-gradient(to right, #cccccc, #ffffff);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
